@mixin font ($name, $path) {
  @font-face {
    font-family: '#{$name}';
    src: url('#{$path}/#{$name}.eot'); /* IE9+ Compat Modes */
    src: url('#{$path}/#{$name}.otf') format("otf"),
         url('#{$path}/#{$name}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$path}/#{$name}.woff2') format('woff2'), /* Super modern browsers */
         url('#{$path}/#{$name}.woff') format('woff'), /* Modern browsers */
         url('#{$path}/#{$name}.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('#{$path}/#{$name}.svg#FontName') format('svg'); /* Legacy iOS */
  }
}

*, *:before, *:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@include font('FelbridgePro-Light', '../fonts/FelbridgePro/Light');
@include font('FelbridgePro-Regular', '../fonts/FelbridgePro/Regular');
@include font('FelbridgePro-Bold', '../fonts/FelbridgePro/Bold');

// Corrigir fonte
// @include font('FelbridgePro-ExtraBold', '../fonts/FelbridgePro/ExtraBold');