@import './fonts.scss';
@import './grid/grid.scss';


// COMPONENTS
@import './components/display-list.scss';
@import './components/logos.scss';
@import './components/youse-logo.scss';
@import './components/nav-link.scss';
@import './components/banner-display.scss';
@import './components/video-display.scss';
@import './components/default-button.scss';
@import './components/card-display.scss';
@import './components/chevron-right.scss';

// SECTIONS
@import './sections/header.scss';
@import './sections/destaque.scss';
@import './sections/navigation.scss';
@import './sections/beneficios.scss';
@import './sections/parceiros.scss';
@import './sections/duvidas.scss';
@import './sections/footer.scss';

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  width: 100%;
  box-sizing: border-box;
}
