.beneficios {
  margin: 0 0 60px 0;

  > ._grid {
    @include grid;

    margin-bottom: 20px;

    .card-display{
      &:nth-child(1) {
        > .image {
          background: url('../images/image-5.jpg') no-repeat;
          background-size: cover;
          > .logo {
            width: 80px;
            height: 22px;
          }
        }
      }
      &:nth-child(2) {
        > .image {
          background: url('../images/image-4.jpg') no-repeat;
          background-size: cover;
          > .logo {
            width: 65px;
            height: 28px;
          }
        }
      }
      &:nth-child(3) {
        > .image {
          background: url('../images/image-3.jpg') no-repeat;
          background-size: cover;
          > .logo {
            width: 68px;
            height: 28px;
          }
        }
      }
      &:nth-child(4) {
        > .image {
          background: url('../images/image-2.jpg') no-repeat;
          background-size: cover;
          > .logo {
            width: 39px;
            height: 48px;
          }
        }
      }
      &:nth-child(5) {
        > .image {
          background: url('../images/image-1.jpg') no-repeat;
          background-size: cover;
          > .logo {
            width: 48px;
            height: 20px;
          }
        }
      }
      &:nth-child(6) {
        > .image {
          background: url('../images/image-0.jpg') no-repeat;
          background-size: cover;
          > .logo {
            width: 120px;
            height: 22px;
          }
        }
      }
    }
  }

  > .cta {
    text-align: center;

    .target {
      text-decoration: underline;
      font-family: 'FelbridgePro-Bold';
      font-weight: 900;
      color: #EC8F29;
    }

    > .chevron-right {
      margin: 0 0 0 10px;
    }
  }
}
