.duvidas {
  padding: 80px 0 0 0;
  background: #F7F8F7;

  >._grid {
    @include grid;
    
    > .duvidas-wrapper {
      position: relative;

      > .titulo {
        margin: 0 0 5px 0;
        font-family: 'FelbridgePro-Bold';
        font-weight: 900;
        font-size: 40px;
        color: #4D5255;
      }

      > .descricao {
        margin: 0 0 20px 0;
        font-family: 'FelbridgePro-Light';
        // font-weight: 900;
        font-size: 23px;
        color: #4D5255;
      }

      > .duvida-collapser {
        margin: 25px 0 0 0;
      }

      &:after {
        position: absolute;
        content: '';

        right: 0;
        bottom: 0;

        width: 12px;
        height: 12px;
        background: url('../images/Yousemon.svg') no-repeat;
        background-position: center bottom;
      }
    }

    @include on-mobile {
      // @include mobile-col(4);
      // margin-bottom: 60px;
      > .duvidas-wrapper {
        @include mobile-col(4);

        padding: 0 0 310px 0;

        &:after {
          @include mobile-col(4);
          bottom: 0px;
          height: 270px;
        }
      }
    };
  
    @include on-tablet {
      // @include tablet-col(4);
      > .duvidas-wrapper {
        @include tablet-col(8);

        padding-bottom: 80px;
        padding-right: calc(37.5% - 16px);

        &:after {
          @include tablet-col(3);
          height: 270px;
        }
      }
    };
  
    @include on-desktop {
      // @include desktop-col(6);
      > .duvidas-wrapper {
        @include desktop-col(12);
        padding-bottom: 80px;
        padding-right: calc(33.33333% - 16px);

        &:after {
          @include desktop-col(4);
          height: 300px;
        }
      }
    };
  }
}

.duvida-collapser {
  > .duvida, .resposta {
    font-size: 20px;
    padding-left: 25px;
  }
  
  > .duvida {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid #EFEFEF;

    font-family: 'FelbridgePro-Bold';
    color: #F99500;

    cursor: pointer;

    &:before {
      position: absolute;
      content: '';

      top: 4px;
      left: 0px;

      width: 12px;
      height: 12px;
      background: url('../images/plus.svg');

      transition: all .2s ease-in-out;
      transform-origin: 50% 50%;
    }
  }

  > .resposta {
    display: block;
    max-height: 0;
    overflow: hidden;

    font-family: 'FelbridgePro-Regular';
    color: #48535B;

    transition: all .3s ease-in-out;

    > .bold {
      font-family: 'FelbridgePro-Bold';
    }
  }

  &.--collapsed {
    > .duvida {
      &:before {
        transform: rotate(45deg);
      }
    }

    > .resposta {
      padding-top: 20px;
      max-height: 400px;
    }
  }
}