.footer {
  padding: 40px 0;
  background: #5F259F;
  ._grid {
    @include grid;

    >.youse-logo {
      margin-bottom: 15px;
    }

    > .legal {
      font-family: 'FelbridgePro-Regular';
      font-size: 12px;
      color: #ffffff;
    }

    @include on-mobile {
      > .legal {
        @include mobile-col(4)
      }
    };

    @include on-tablet {
      > .legal {
        @include tablet-col(8)
      }
    };
  
    @include on-desktop {
      > .legal {
        @include desktop-col(12)
      }
    };
  }
}