.header {
  position: fixed;
  padding: 25px 0 23px 0;
  width: 100%;

  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  
  z-index: 9999;

  > ._grid {
    @include grid;

    > .nav-menu {
      > .display-list {
        display: none;
        list-style: none;

        > .item {
          font-size: 15px;
          margin: 7px 15px 0 15px;
        }
      }

      > .side-menu {
        display: block;
        float: right;
    
        > .menu, .close  {
          width: 60px;
          height: 30px;
          background: url('../images/menu.svg') no-repeat center;
          background-size: 100% 100%;
        }
        > .menu {
          display: block;
          background: url('../images/menu.svg') no-repeat center;
        }
        > .close {
          // display: none;
          background: url('../images/close.svg') no-repeat center;
        }

        &.--close {
          > .menu {
            display: none;
          }
          > .close {
            display: block;
          }
        }
      }
    }

    > .nav-dropdown {
      overflow: hidden;
      max-height: 0;

      transition: all .3s ease-in-out;

      > .display-list {
        margin: 35px 0 0 0;

        > .item {
          padding: 15px;
        }
      }

      &.--collapsed {
        max-height: 500px;
      }
    }

    @include on-mobile {
      > .nav-menu {
        @include mobile-col(3);
      }

      > .nav-dropdown {
        @include mobile-col(4);
      }
    };
  
    @include on-tablet {
      > .nav-menu {
        @include tablet-col(7);
      }
      > .nav-dropdown {
        @include tablet-col(8);
      }
    };
  
    @include on-desktop {
      > .nav-menu {
        @include desktop-col(10);

        > .side-menu {
          display: none;
        }

        > .display-list {
          display: block;
        }
      }
      > .nav-dropdown {
        display: none;
      }
    };
  }  
}