.navigation {
  position: relative;

  @include on-mobile {
    background: none;
    top: -65px;
  };

  @include on-tablet {
    background: #FF971B;
    margin-bottom: 30px; 
  };

  @include on-desktop {
    top: -30px;
    background: none;
  };

  > ._grid {
    @include grid;

    > .display-list{
      padding: 10px 0 10px;
      border-radius: 4px; 
      background: #FF971B;
      text-align: center;

      > .item {
        > .nav-link {
          > .chevron {
            display: none;
            background: url('../images/chevron-right.svg') no-repeat center;
            background-size: 100% 100%;
          }
        }
  
        &:last-child {
            border-right: none;
        }
      }
    }

    @include on-mobile {
      .display-list {
        @include mobile-col(4);
        padding: 0px 50px;

        > .item {
          display: block;
          padding: 25px 0 20px 0;
          font-size: 16px;
          border-right: none;
          border-bottom: 1px solid #ffffff;

         .nav-link {
            vertical-align: middle;
            > .chevron {
              float: right;
              display: inline-block;
              width: 12px;
              height: 16px;
            }
         }

          &:last-child {
            border-bottom: none;
          }
        }
      }
    };
  
    @include on-tablet {
      .display-list {
        > .item {
          font-size: 12px;
          border-right: 1px solid #ffffff;
          padding: 5px .5% 3px;
   
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
        }
      }
    };
  
    @include on-desktop {
      .display-list {
        > .item {
          font-size: 16px;
          border-right: 1px solid #ffffff;
          padding: 8px 16px 6px 16px;
        }
      }
    };
  }
}