.parceiros {
  > ._grid {
    @include grid;
    margin-bottom: 15px;

    > .title {
      margin: 0 0 40px 0;
      text-align: center;
      font-family: 'FelbridgePro-Light';
      font-weight: 100;
      font-size: 40px;

      > .bold {
        font-family: 'FelbridgePro-Bold';
      }
    }

    > .banner-petite, .banner-lev {
      height: 148px;
    }

    > .banner-petite {
      background: url('../images/banner-petite.svg') no-repeat center;
      // background-size: 100%;
    }

    > .banner-lev {
      background: url('../images/banner-lev.svg') no-repeat center;
      // background-size: 100%;
    }

    > .item {
      padding: 15px;
      border: 1px solid #E8E8E8;
      border-radius: 4px;
      margin-bottom: 16px;

      > .Lev {
        background-size: 50%;
      }
    }

    @include on-mobile {
      > .title {
        font-size: 30px;
      }

      > .banner-petite, .banner-lev {
        @include mobile-col(4);
        margin-bottom: 15px;
      }

      > .item {
        @include mobile-col(1);
        height: 70px;

        > .Lev {
          background-size: 75%;
        }
      }
    };

    @include on-tablet {
      > .banner-petite, .banner-lev {
        @include tablet-col(4);
      }

      > .item {
        @include tablet-col(2);
        height: 90px;
      }
    };
  
    @include on-desktop {
      > .banner-petite, .banner-lev {
        @include desktop-col(6);
      }

      > .item {
        @include desktop-col(2);
        height: 90px;
        padding: 15px;
      }
    };
  }
}