
.banner-display {
  color: #ffffff;

  font-family: 'FelbridgePro-Light';
  font-weight: 100;

  .title {
    font-size: 72px;
    font-weight: inherit;
    line-height: 101%;
    margin: 0 0 25px;
  }

  .description {
    margin: 0 0 50px 0;
    font-size: 26px;
    line-height: 120%;

    .bold {
      font-family: 'FelbridgePro-Bold';
    }
  }

  @include on-mobile {
    @include mobile-col(4);
  };

  @include on-tablet {
    @include tablet-col(4);

    .description {
      font-size: 23px;
      padding: 0 28% 0 0;
    }
  };

  @include on-desktop {
    @include desktop-col(6);

    .description {
      font-size: 26px;
      padding: 0 150px 0 0;
    }
  };
}
