.card-display {
  display: inline-block;
  margin: 0 0 20px 0;
  height: 350px;  
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .15);

  > .image {
    position: relative;
    margin: 0 0 15px 0;
    width: 100%;
    height: 224px;

    background: rgb(169, 169, 169);

    > .logo {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  }

  > .beforetitle, .title {
    margin: 0 0 5px 0;
    font-family: 'FelbridgePro-Bold';
    font-weight: 900;
  }

  > .title, .description {
    color: #48535B;
  }

  > .beforetitle {
    padding: 0 15px;
    font-size: 14px;
    color: #6B45A7;
  }

  > .title {
    padding: 0 15px;
    font-size: 20px;
  }

  > .description {
    padding: 0 15px;
    margin: 0 0 15px 0;
    max-height: 35px;
    overflow: hidden;
    // text-overflow: ellipsis;
    font-family: 'FelbridgePro-Regular';
    font-size: 16px;
  }

  @include on-mobile {
    @include mobile-col(4);
  };

  @include on-tablet {
    @include tablet-col(4);
  };

  @include on-desktop {
    @include desktop-col(6);

    &.--desktopsmall {
      @include desktop-col(3);
    }
  };
}