.chevron-right {
  display: inline-block;
  background: url('../images/chevron-right.svg') no-repeat center;
  background-size: 100% 100%;
  width: 10px;
  height: 11px;
  vertical-align: baseline;

  &.--orange {
    background: url('../images/chevron-right-orange.svg') no-repeat center;
  }
}