.default-button {
  padding: 12px 35px 7px;

  // Arrumar a font extra bold
  font-family: 'FelbridgePro-Bold';
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;

  cursor: pointer;

  &.--rounded {
    border-radius: 45px;
  }

  &.--outlined {
    border: 2px solid #ffffff;
    background: transparent;
  }
}