@mixin logo ($name, $file-name) {
  .#{$name} {
    background: url('../images/#{$file-name}') no-repeat center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
  }
}

@include logo('DryWash', 'DryWash.svg');
@include logo('EnglishLive', 'EnglishLive.svg');
@include logo('Extra', 'Extra.svg');
@include logo('Lev', 'Lev.svg');
@include logo('PetiteBox', 'PetiteBox.svg');
@include logo('SamsClub', 'SamsClub.svg');
@include logo('Zenklub', 'Zenklub.svg');