// .nav-bar {
//   position: relative;
//   padding: 10px 0;
//   background: #FF971B;
//   border-radius: 5px;

//   > .list {
//     list-style: none;
//     text-align: center;

//     > .item {
//       display: inline-block;

//       font-family: 'FelbridgePro-Regular';
//       color:#ffffff;

//       > .bold {
//         font-family: 'FelbridgePro-Bold';
//       }

//       > .chevron {
//         display: none;
//         background: url('../images/chevron-right.svg') no-repeat center;
//         background-size: 100% 100%;
//       }

//       &:last-child {
//         border-right: none;
//       }
//     }
//   }

//   @include on-mobile {
//     @include mobile-col(4);
//     padding: 0px 0px;
//     top: -65px;

//     > .list {
//       padding: 0px 50px;

//       > .item {
//         display: block;
//         padding: 25px 0 20px 0;
//         font-size: 16px;
//         border-right: none;
//         border-bottom: 1px solid #ffffff;

//         >.chevron {
//           float: right;
//           display: inline-block;
//           width: 12px;
//           height: 15px;
//           vertical-align: middle;
//         }

//         &:last-child {
//           border-bottom: none;
//         }
//       }
//      }
//   };

//   @include on-tablet {
//     @include tablet-col(8);
    
//     > .list {
//      > .item {
//        font-size: 13px;
//        border-right: 1px solid #ffffff;
//        padding: 10px 10px 6px 10px;
//      }
//     }
//   };

//   @include on-desktop {
//     @include desktop-col(12);
//     top: -30px;

//     > .list {
//       > .item {
//         font-size: 16px;
//         border-right: 1px solid #ffffff;
//         padding: 10px 16px 6px 16px;
//       }
//      }
//   };
// }