
.nav-link {
  font-family: 'FelbridgePro-Bold';
  font-size: 15px;
  color: #6B7B84;
  cursor: pointer;

  text-decoration: none;

  &:hover {
    color: #FF971B;
  }

  &.--white {
    color:#ffffff;
  }

  &.--regular {
    font-family: 'FelbridgePro-Regular';

    > .bold {
      font-family: 'FelbridgePro-Bold';
    }
  }
}