.video-display {
  .video {
    width: 100%;
    background: #D8D8D8;
  }

  @include on-mobile {
    @include mobile-col(4);
    margin-bottom: 60px;
  };

  @include on-tablet {
    @include tablet-col(4);
  };

  @include on-desktop {
    @include desktop-col(6);
  };
}
