.youse-logo {
  background: url('../images/logo-youse.svg') no-repeat center;
  background-size: 100% 100%;

  height: 33px;

  @include on-mobile {
    @include mobile-col(1);
  };

  @include on-tablet {
    @include tablet-col(1);
  };

  @include on-desktop {
    @include desktop-col(2);
  };
}