@import './grid/grid-col.scss';
@import './grid/utils.scss';

$mobile-col-ammount: 4;
$mobile-col-gutter: 16px;
$mobile-max-width: 480px;
$mobile-screen-min-width: null;
$mobile-screen-max-width: 639px;

$tablet-col-ammount: 8;
$tablet-col-gutter: 16px;
$tablet-max-width: 800px;
$tablet-screen-min-width: 640px;
$tablet-screen-max-width: 959px;

$desktop-col-ammount: 12;
$desktop-col-gutter: 16px;
$desktop-max-width: 940px;
$desktop-screen-min-width: 960px;
$desktop-screen-max-width: null;

@mixin on-mobile() {
  @include breakpoint($mobile-screen-min-width, $mobile-screen-max-width) {
    @content
  }
};

@mixin on-tablet() {
  @include breakpoint($tablet-screen-min-width, $tablet-screen-max-width) {
    @content
  }
};

@mixin on-desktop() {
  @include breakpoint($desktop-screen-min-width, $desktop-screen-max-width) {
    @content
  }
};

@mixin mobile-col($index) {
  @include grid-col($mobile-col-ammount, $index, $mobile-col-gutter);
};

@mixin tablet-col($index) {
  @include grid-col($tablet-col-ammount, $index, $tablet-col-gutter);
};

@mixin desktop-col($index) {
  @include grid-col($desktop-col-ammount, $index, $desktop-col-gutter);
};

@mixin grid {
  @include clearfix;

  width: 100%;
  // min-width: 320px;
  margin-right: auto;
  margin-left: auto;

  // MOBILE
  @include on-mobile {
    max-width: $mobile-max-width;
  }

  // TABLET
  @include on-tablet {
    max-width: $tablet-max-width;
  }

  // DESKTOP
  @include on-desktop {
    max-width: $desktop-max-width;
  }
};
