@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both
  }
}

@mixin breakpoint ($min, $max) {
  @if $min {
    @media only screen and (min-width: $min) {
      @content;
    }
  }
  @else if $max {
    @media only screen and (max-width: $max) {
      @content;
    }
  }
  @else if $min and $max {
    @media only screen and (min-width: $min) and (max-width: $max) {
      @content;
    }
  }
}